<!-- MÃO NA MASSA 1: VIEWPORTS -->
<!DOCTYPE html>
<html lang="pt-br">
    
<head>
    <meta charset="utf-8">
    <title>Exemplo de Viewport + Media Queries</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="estilos.css">
</head>

<body>
    <div class="cabecalho">
        Isso é um cabeçalho!
    </div>
    <div class="conteudo">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo ratione minima sapiente, aspernatur harum pariatur aliquid iste itaque, voluptatibus repellat aperiam quo qui tempora deserunt esse quidem iusto! Debitis minus labore eos beatae, veniam iste sit quae, obcaecati facilis repellat qui, quibusdam reprehenderit. Molestiae facilis totam aspernatur voluptatibus perferendis magnam?
        </p>
    </div>
</body>

</html>     