<!-- MÃO NA MASSA 2: LAYOUT FLEX -->
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="estilos.css">
    <title>Exemplo Grid</title>
    <script src="https://kit.fontawesome.com/7a84e5cfd3.js" crossorigin="anonymous"></script>
</head>

<body>
    <header class="header">
        <a href="#">Marca</a>

        <nav>
            <input type="checkbox" id="menuToggle">
            <label for="menuToggle" class="menu-icon">
                <i class="fas fa-bars"></i>
                <i class="fas fa-times-circle"></i>
            </label>
            <ul class="menu">
                <li><a href="#">Home</a></li>
                <li><a href="#">Quem Somos</a></li>
                <li><a href="#">Serviços</a></li>
                <li><a href="#">Contatos</a></li>
            </ul>
        </nav>
    </header>

    <h1>Exemplo Grid</h1>
    <section class="grid">
        <div>
            <img src="img/img1.jpg">
            <p>Legenda</p>
        </div>
        <div>
            <img src="img/img2.jpg">
            <p>Legenda</p>
        </div>
        <div>
            <img src="img/img3.jpg">
            <p>Legenda</p>
        </div>
        <div class="card">
            <img src="img/img1.jpg">
            <p>Legenda</p>
        </div>
        <div class="card">
            <img src="img/img2.jpg">
            <p>Legenda</p>
        </div>
        <div class="card">
            <img src="img/img3.jpg">
            <p>Legenda</p>
        </div>
        <div class="card">
            <img src="img/img1.jpg">
            <p>Legenda</p>
        </div>
        <div class="card">
            <img src="img/img2.jpg">
            <p>Legenda</p>
        </div>
        <div class="card">
            <img src="img/img3.jpg">
            <p>Legenda</p>
        </div>
        <div class="banner">
            <img src="img/img4.jpg">
            <p>Banner</p>
        </div>
        
    </section>
    <section class="grid">
        <div>
            <img src="img/img1.jpg">
            <p>Legenda</p>
        </div>
        <div>
            <img src="img/img2.jpg">
            <p>Legenda</p>
        </div>
        <div>
            <img src="img/img3.jpg">
            <p>Legenda</p>
        </div>
        <div class="card">
            <img src="img/img1.jpg">
            <p>Legenda</p>
        </div>
        <div class="card">
            <img src="img/img2.jpg">
            <p>Legenda</p>
        </div>
        <div class="card">
            <img src="img/img3.jpg">
            <p>Legenda</p>
        </div>
        <div class="card">
            <img src="img/img1.jpg">
            <p>Legenda</p>
        </div>
        <div class="card">
            <img src="img/img2.jpg">
            <p>Legenda</p>
        </div>
        <div class="card">
            <img src="img/img3.jpg">
            <p>Legenda</p>
        </div>
        <div class="banner">
            <img src="img/img4.jpg">
            <p>Banner</p>
        </div>
        
    </section>

    <footer class="footer">
        Copyright 2021 - Todos os direitos reservados MinhaPagina.com
    </footer>
</body>

</html>